header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.header {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    flex-grow: 2;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 3;

    a {
      margin-right: 50px;
      font-size: 20px;

      @media (max-width: 1400px) {
        font-size: 16px;
      }

      @media (max-width: 1200px) {
        font-size: 14px;
      }

      &:hover {
        color: #000;
      }
    }
  }
}

.navigation {
  flex-grow: 1;

  &__link {
    color: #172F53;
    font-size: 20px;
    margin-right: 90px;
    transition: 200ms ease;

    @media (max-width: 1400px) {
      font-size: 16px;
    }

    @media (max-width: 1200px) {
      font-size: 14px;
      margin-right: 60px;
    }

    &:hover {
      color: #000;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}
