.partners {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
  padding: 100px 94px;
  border-radius: 20px;
  box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 1400px) {
    padding: 90px 84px;
  }

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 70px;
  }

  @media (max-width: 768px) {
    padding: 50px 50px;
    width: 100%;
  }

  @media (max-width: 480px) {

  }
}

.partner {
  width: 25%;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @media (max-width: 1400px) {
    width: 24%;
    height: 80px;
  }

  @media (max-width: 1024px) {
    width: 40%;
    height: 100px;
    margin: 20px;
  }

  @media (max-width: 540px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
