.button {
  font-size: 20px;
  border: 1px solid #172F53;
  padding: 10px;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  @media (max-width: 1400px) {
    font-size: 16px;
  }

  @media (max-width: 1200px) {
    font-size: 14px;
    padding: 8px;
  }
}

.button.button_outline {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 26px;

  &:hover {
    color: #000;
  }
}

.button.button_primary {
  background-color: #21D8E3;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  transition: 300ms ease;

  &:hover {
    background-color: #36f4ff;
  }

  @media (max-width: 1400px) {
    font-size: 22px;
    padding: 26px;
  }

  @media (max-width: 1200px) {
    padding: 20px;
    font-size: 20px;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
    padding: 18px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.button_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-left: 20px;
    fill: #fff;

    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }

    @media (max-width: 480px) {
      width: 14px;
      height: 14px;
      margin-left: 10px;
    }
  }
}
